.loader {
    display: block;
    width: 100%;
    color: $text;
    font-size: 0.875em;
    text-align: center;
    text-decoration: none;
    span {
        position: relative;
        display: block;
    }
    &__icon {
        width: 50px;
        height: 50px;
        margin: auto;
        &::before,
        &::after {
            @include beforeafter('', block);
            position: absolute;
            top: 15px;
            width: 25px;
            height: 25px;
            @include border-radius(50%);
        }
        &::before {
            background: linear-gradient(90deg, $surface, darken($surface, 5%));
            animation: rotation1 1s linear infinite
        }
        &::after {
            background: linear-gradient(90deg, $primary, $primary-variant);
            animation: rotation2 1s linear infinite
        }
    }
}

@keyframes rotation1 {
    from {
        left: 5px;
        z-index: 1;
    }
    to {
        left: 25px;
    }
}

@keyframes rotation2 {
    from {
        right: 5px;
    }
    to {
        right: 25px;
    }
}