.ad {
    background-color: #f7f7f7;
    border: 1px solid $gray-100;
    &.ad--970by250 {
        &.fixed {
            margin-bottom: 60px;
            @include breakpoint(1024px) {
                margin-bottom: 65px;
            }
        }
        a {
            width: 300px;
            @include breakpoint(1024px) {
                width: 970px;
                img.mobile {
                    display: none;
                }
            }
            @include breakpoint(max-width 1023px) {
                img.desktop {
                    display: none;
                }
            }
        }
    }
    &.ad--300by250 {
        padding-top: 5px;
        padding-bottom: 30px;
        @include breakpoint(max-width 1023px) {
            margin-left: -20px;
            margin-right: -20px;
        }
        >span {
            display: block;
            margin-bottom: 5px;
            color: $secondary;
            font-size: 0.875rem;
            line-height: 1.5;
            text-align: center;
        }
        a {
            width: 300px;
        }
    }
    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.ad--video {
    @include breakpoint(1024px) {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
    .embed {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
    }
    .embed iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}