$icomoon-font-family: "cw_icon" !default;
$icomoon-font-path: "../fonts" !default;
$icon-images: "\e900";
$icon-button: "\e901";
$icon-color: "\e902";
$icon-iconography: "\e903";
$icon-textfield: "\e904";
$icon-navigation: "\e905";
$icon-tabs: "\e906";
$icon-tooltips: "\e907";
$icon-typography: "\e908";
$icon-logo-text: "\e909";
$icon-phrase: "\e90a";
$icon-eyeoff: "\e90b";
$icon-eyeon: "\e90c";
$icon-check-circle: "\e90d";
$icon-question-circle: "\e90e";
$icon-exclamation-circle: "\e90f";
$icon-sort: "\e910";
$icon-caret-down: "\e911";
$icon-caret-up: "\e912";
$icon-menu: "\e913";
$icon-message: "\e914";
$icon-selection: "\e915";
$icon-list: "\e916";
$icon-search: "\e917";
$icon-user-filled: "\e918";
$icon-user-outlined: "\e919";
$icon-facebook: "\e91a";
$icon-instagram: "\e91b";
$icon-line: "\e91c";
$icon-play: "\e91d";
$icon-left: "\e91e";
$icon-right: "\e91f";
$icon-down: "\e920";
$icon-rss: "\e921";
$icon-up: "\e922";
$icon-bookmark-outlined: "\e923";
$icon-share: "\e924";
$icon-mail: "\e925";
$icon-edit: "\e926";
$icon-caret-right: "\e927";
$icon-caret-left: "\e928";
$icon-check: "\e929";
$icon-check-solid: "\e92a";
$icon-copy: "\e92b";
$icon-quote-left: "\e92c";
$icon-quote-right: "\e92d";
$icon-cancel: "\e92e";
$icon-coin: "\e92f";
$icon-fontsize: "\e930";
$icon-logo: "\e931";
$icon-bookmark-filled: "\e932";
$icon-arrow-right: "\e933";
$icon-arrow-left: "\e934";
$icon-error-solid: "\e935";
$icon-lock: "\e936";
$icon-download: "\e937";
$icon-minus: "\e938";
$icon-plus: "\e939";
$icon-exclamation-solid: "\e93a";
$icon-internet: "\e93b";
$icon-member-notification: "\e93c";
$icon-member-download: "\e93d";
$icon-member-invite: "\e93e";
$icon-member-lecture: "\e93f";
$icon-benefits: "\e940";
$icon-coupon: "\e941";
$icon-gift: "\e942";
$icon-member-only: "\e943";
$icon-security: "\e944";
$icon-pushpin: "\e945";
$icon-facebook-f: "\e946";
$icon-mail-filled: "\e947";
$icon-link: "\e948";
$icon-download-pdf: "\e949";
$icon-zoom: "\e94a";
$icon-note: "\e94b";
$icon-volume: "\e94c";
$icon-play-solid: "\e94d";
$icon-headphones: "\e94e";
$icon-pause-solid: "\e94f";
@font-face {
    font-family: '#{$icomoon-font-family}';
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8gm46x');
    src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8gm46x#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8gm46x') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8gm46x') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8gm46x##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-images {
    &:before {
        content: $icon-images;
    }
}

.icon-button {
    &:before {
        content: $icon-button;
    }
}

.icon-color {
    &:before {
        content: $icon-color;
    }
}

.icon-iconography {
    &:before {
        content: $icon-iconography;
    }
}

.icon-textfield {
    &:before {
        content: $icon-textfield;
    }
}

.icon-navigation {
    &:before {
        content: $icon-navigation;
    }
}

.icon-tabs {
    &:before {
        content: $icon-tabs;
    }
}

.icon-tooltips {
    &:before {
        content: $icon-tooltips;
    }
}

.icon-typography {
    &:before {
        content: $icon-typography;
    }
}

.icon-logo-text {
    &:before {
        content: $icon-logo-text;
    }
}

.icon-phrase {
    &:before {
        content: $icon-phrase;
    }
}

.icon-eyeoff {
    &:before {
        content: $icon-eyeoff;
    }
}

.icon-eyeon {
    &:before {
        content: $icon-eyeon;
    }
}

.icon-check-circle {
    &:before {
        content: $icon-check-circle;
    }
}

.icon-question-circle {
    &:before {
        content: $icon-question-circle;
    }
}

.icon-exclamation-circle {
    &:before {
        content: $icon-exclamation-circle;
    }
}

.icon-sort {
    &:before {
        content: $icon-sort;
    }
}

.icon-caret-down {
    &:before {
        content: $icon-caret-down;
    }
}

.icon-caret-up {
    &:before {
        content: $icon-caret-up;
    }
}

.icon-menu {
    &:before {
        content: $icon-menu;
    }
}

.icon-message {
    &:before {
        content: $icon-message;
    }
}

.icon-selection {
    &:before {
        content: $icon-selection;
    }
}

.icon-list {
    &:before {
        content: $icon-list;
    }
}

.icon-search {
    &:before {
        content: $icon-search;
    }
}

.icon-user-filled {
    &:before {
        content: $icon-user-filled;
    }
}

.icon-user-outlined {
    &:before {
        content: $icon-user-outlined;
    }
}

.icon-facebook {
    &:before {
        content: $icon-facebook;
    }
}

.icon-instagram {
    &:before {
        content: $icon-instagram;
    }
}

.icon-line {
    &:before {
        content: $icon-line;
    }
}

.icon-play {
    &:before {
        content: $icon-play;
    }
}

.icon-left {
    &:before {
        content: $icon-left;
    }
}

.icon-right {
    &:before {
        content: $icon-right;
    }
}

.icon-down {
    &:before {
        content: $icon-down;
    }
}

.icon-rss {
    &:before {
        content: $icon-rss;
    }
}

.icon-up {
    &:before {
        content: $icon-up;
    }
}

.icon-bookmark-outlined {
    &:before {
        content: $icon-bookmark-outlined;
    }
}

.icon-share {
    &:before {
        content: $icon-share;
    }
}

.icon-mail {
    &:before {
        content: $icon-mail;
    }
}

.icon-edit {
    &:before {
        content: $icon-edit;
    }
}

.icon-caret-right {
    &:before {
        content: $icon-caret-right;
    }
}

.icon-caret-left {
    &:before {
        content: $icon-caret-left;
    }
}

.icon-check {
    &:before {
        content: $icon-check;
    }
}

.icon-check-solid {
    &:before {
        content: $icon-check-solid;
    }
}

.icon-copy {
    &:before {
        content: $icon-copy;
    }
}

.icon-quote-left {
    &:before {
        content: $icon-quote-left;
    }
}

.icon-quote-right {
    &:before {
        content: $icon-quote-right;
    }
}

.icon-cancel {
    &:before {
        content: $icon-cancel;
    }
}

.icon-coin {
    &:before {
        content: $icon-coin;
    }
}

.icon-fontsize {
    &:before {
        content: $icon-fontsize;
    }
}

.icon-logo {
    &:before {
        content: $icon-logo;
    }
}

.icon-bookmark-filled {
    &:before {
        content: $icon-bookmark-filled;
    }
}

.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}

.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}

.icon-error-solid {
    &:before {
        content: $icon-error-solid;
    }
}

.icon-lock {
    &:before {
        content: $icon-lock;
    }
}

.icon-download {
    &:before {
        content: $icon-download;
    }
}

.icon-minus {
    &:before {
        content: $icon-minus;
    }
}

.icon-plus {
    &:before {
        content: $icon-plus;
    }
}

.icon-exclamation-solid {
    &:before {
        content: $icon-exclamation-solid;
    }
}

.icon-internet {
    &:before {
        content: $icon-internet;
    }
}

.icon-member-notification {
    &:before {
        content: $icon-member-notification;
    }
}

.icon-member-download {
    &:before {
        content: $icon-member-download;
    }
}

.icon-member-invite {
    &:before {
        content: $icon-member-invite;
    }
}

.icon-member-lecture {
    &:before {
        content: $icon-member-lecture;
    }
}

.icon-benefits {
    &:before {
        content: $icon-benefits;
    }
}

.icon-coupon {
    &:before {
        content: $icon-coupon;
    }
}

.icon-gift {
    &:before {
        content: $icon-gift;
    }
}

.icon-member-only {
    &:before {
        content: $icon-member-only;
    }
}

.icon-security {
    &:before {
        content: $icon-security;
    }
}

.icon-pushpin {
    &:before {
        content: $icon-pushpin;
    }
}

.icon-facebook-f {
    &:before {
        content: $icon-facebook-f;
    }
}

.icon-mail-filled {
    &:before {
        content: $icon-mail-filled;
    }
}

.icon-link {
    &:before {
        content: $icon-link;
    }
}

.icon-download-pdf {
    &:before {
        content: $icon-download-pdf;
    }
}

.icon-zoom {
    &:before {
        content: $icon-zoom;
    }
}

.icon-note {
    &:before {
        content: $icon-note;
    }
}

.icon-volume {
    &:before {
        content: $icon-volume;
    }
}

.icon-play-solid {
    &:before {
        content: $icon-play-solid;
    }
}

.icon-headphones {
    &:before {
        content: $icon-headphones;
    }
}

.icon-pause-solid {
    &:before {
        content: $icon-pause-solid;
    }
}