@charset "UTF-8";
@import "Compass";
@import "breakpoint";
@import "_variable";
@include keyframes(spin) {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}

.green-audio-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.green-audio-player.player-accessible .play-pause-btn:hover,
.green-audio-player.player-accessible .controls:hover,
.green-audio-player.player-accessible .volume__button:hover,
.green-audio-player.player-accessible .volume__controls:hover,
.green-audio-player.player-accessible .download:hover {
    outline: dotted 1px #999;
}

.green-audio-player svg,
.green-audio-player img {
    display: block;
}

.green-audio-player .holder {
    position: relative;
}

.green-audio-player .holder .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

.green-audio-player .holder .loading .loading__spinner {
    position: relative;
    width: 16px;
    height: 16px;
    border: 2px solid #b0b0b0;
    border-right-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    animation: spin 0.4s linear infinite;
}

.green-audio-player .holder .play-pause-btn {
    visibility: hidden;
    cursor: pointer;
    outline: none;
}

.green-audio-player .holder .play-pause-btn:hover i.icon {
    color: $primary;
}

.green-audio-player .slider {
    flex-grow: 1;
    background-color: $gray-200;
    cursor: pointer;
    position: relative;
}

.green-audio-player .slider .gap-progress {
    background-color: $primary;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

.green-audio-player .volume .slider .gap-progress .pin {
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: $white;
    @include border-radius(11px);
    border: 1px solid $secondary;
    pointer-events: all;
}

.green-audio-player .volume .slider .gap-progress .pin::after {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0);
    width: 200%;
    height: 200%;
    margin-left: -50%;
    margin-top: -50%;
    border-radius: 50%;
}

.green-audio-player .controls {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0.875rem;
    outline: none;
}

.green-audio-player .controls .controls__slider {
    margin-left: 10px;
    margin-right: 10px;
    height: 3px;
}

.green-audio-player .controls .controls__slider .controls__progress {
    width: 0;
    height: 100%;
}

.green-audio-player .controls .controls__slider .controls__progress .progress__pin {
    top: -6px;
    right: -6px;
}

.green-audio-player .controls span {
    cursor: default;
}

.green-audio-player .controls:focus {
    outline: none;
}

.green-audio-player .volume {
    position: relative;
}

.green-audio-player .volume .volume__button {
    cursor: pointer;
    outline: none;
}

.green-audio-player .volume .volume__button:hover i.icon {
    color: $primary;
}

.green-audio-player .volume .volume__controls {
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 43px;
    height: 100px;
    background-color: $white;
    border: 1px solid $gray-200;
    z-index: 2;
    outline: none;
    @include transition(all 0.3s);
}

.green-audio-player .volume .volume__controls .volume__slider {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 3px;
}

.green-audio-player .volume .volume__controls .volume__slider .volume__progress {
    bottom: 0;
    height: 100%;
    width: 3px;
}

.green-audio-player .volume .volume__controls .volume__slider .volume__progress .volume__pin {
    left: -4px;
    top: -6px;
}

.green-audio-player .volume .volume__controls:focus {
    outline: none;
}

.green-audio-player .volume .volume__controls.hidden {
    display: none;
}

.green-audio-player .volume .volume__controls.top {
    left: 50%;
    bottom: 100%;
    @include translate(-50%, -10px);
}

.green-audio-player .volume .volume__controls.middle {
    bottom: -54px;
    left: 54px;
}

.green-audio-player .volume .volume__controls.bottom {
    top: 100%;
    left: 50%;
    @include translate(-50%, 10px);
}

.green-audio-player .download {
    display: none;
    margin-left: 16px;
    cursor: pointer;
    outline: none;
}

.green-audio-player .download:focus {
    outline: none;
}

.green-audio-player:focus {
    outline: none;
}

.message__offscreen {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

.green-audio-player *:focus {
    outline: none !important;
}