.newsletter {
    border-top: 1px solid $gray-100;
    .main {
        position: relative;
        max-width: $article;
        margin-left: auto;
        margin-right: auto;
        p {
            font-size: 1.125rem;
        }
        @include breakpoint(1024px) {
            padding-right: 175px;
            button {
                position: absolute;
                top: 50%;
                right: 0;
                @include translateY(-50%);
            }
        }
        @include breakpoint(max-width 1023px) {
            text-align: center;
        }
    }
}