.audio__player {
    border: 1px solid $gray-200;
    font-size: 0;
    >* {
        display: inline-block;
        vertical-align: middle;
    }
    .audio__body {
        width: 100%;
        @include breakpoint(1024px) {
            width: calc(100% - 80px);
        }
    }
    .audio__image {
        width: 60px;
        @include border-radius(50%);
        @include breakpoint(max-width 1023px) {
            display: none;
        }
    }
    .audio__title {
        margin-bottom: 15px;
        font-size: 1.125rem;
        @include ellipsis();
    }
    .audio__control {
        >* {
            display: inline-block;
            vertical-align: middle;
        }
        i.icon {
            font-size: 1rem;
            &.audio__play {
                margin-left: 10px;
                margin-right: 15px;
                @include breakpoint(1024px) {
                    margin-right: 20px;
                }
            }
            &.audio__volume {
                margin-left: 15px;
                @include breakpoint(1024px) {
                    margin-left: 20px;
                }
            }
        }
    }
    .audio__now,
    .audio__total {
        font-size: 0.875rem;
        font-weight: normal;
    }
    .audio__progress {
        position: relative;
        width: calc(100% - 175px);
        height: 3px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: $gray-200;
        @include border-radius(3px);
        overflow: hidden;
        .audio__listened {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: $primary;
        }
    }
}