.audio__player {
    border: 1px solid $gray-200;
    font-size: 0;
    >* {
        display: inline-block;
        vertical-align: middle;
    }
    .audio__body {
        width: 100%;
        @include breakpoint(1024px) {
            width: calc(100% - 80px);
        }
    }
    .audio__image {
        width: 60px;
        @include border-radius(50%);
        @include breakpoint(max-width 1023px) {
            display: none;
        }
    }
    .audio__title {
        margin-bottom: 15px;
        font-size: 1.125rem;
        @include ellipsis();
    }
    .audio__control {
        i.icon {
            font-size: 1rem;
            @include transition(color 0.3s);
        }
    }
}

@import "_green-audio-player"