.article__page {
    padding-top: 60px;
    background-color: $gray;
}

main {
    width: 100%;
    overflow-x: hidden;
}

.main,
.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(1024px) {
        width: $article;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.bt1 {
    border-top: 1px solid $black;
}

article {
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(1024px) {
        width: 750px;
    }
}

.imgzoom {
    position: relative;
    display: block;
    cursor: pointer;

    @include breakpoint(max-width 1023px) {
        margin-left: -20px;
        margin-right: -20px;
    }

    @include breakpoint(1024px) {
        &::after {
            @include beforeafter('\e94a', block);
            position: absolute;
            bottom: 0;
            right: 0;
            width: 36px;
            color: #fff;
            font-family: "icomoon";
            font-size: 1.5em;
            line-height: 36px;
            text-align: center;
            background-color: rgba($black, 0.5);
        }
    }

    img {
        width: 100%;
    }
}

a {
    color: $surface;

    &:hover {
        color: $primary;
    }
}

p {
    margin-top: 1.1125em;
    margin-bottom: 1.1125em;
    font-size: 1.125em;
    line-height: 1.75;

    &.preface {
        color: $surface;
    }

    .more {
        position: relative;
        display: inline-block;
        padding-right: 1.15em;
        color: $primary;
        line-height: 1.5;
        border-bottom: 1px dashed $primary;
        cursor: pointer;

        &::before {
            @include beforeafter('\e94b', block);
            position: absolute;
            top: 50%;
            right: 0;
            font-family: "icomoon";
            line-height: 1;
            @include translateY(-50%);
        }

        &:hover {
            color: $primary-variant;
            border-color: $primary-variant;
        }
    }

    .more__text {
        display: none;
        width: 100%;
        margin: 10px 0;
        padding: 20px 40px;
        background-color: $gray-100;

        &.active {
            display: block;
        }
    }

    strong {
        font-weight: 600;

        @include breakpoint(1024px) {
            font-weight: 500;
        }
    }
}

blockquote {
    position: relative;
    width: 75%;
    padding: 1px 0;
    margin: 40px auto;
    font-weight: 600;

    @include breakpoint(1024px) {
        width: 55%;
        font-weight: 500;
    }
}

.source {
    display: block;
    padding: 5px 0;
    color: $secondary;
    font-size: 0.875rem;
    line-height: 1.5;
}

.article__detail {
    &--primary {
        color: $text;
        font-size: 0;
    }

    &--secondary {
        position: relative;
        color: $secondary;
        font-size: 0.875em;

        @include breakpoint(1024px) {
            text-align: right;
        }
    }

    .article__author,
    .article__assort {
        display: inline-block;
        @include listrest(0, 0, none);
        font-size: 0;

        li {
            display: inline-block;
        }
    }

    .article__assort {
        li {
            font-size: 0.875rem;
        }
    }

    .article__author {
        li {
            font-size: 0;

            >span {
                position: relative;
                padding-right: 2em;
                font-size: 0.875rem;

                &::after {
                    @include beforeafter('', block);
                    position: absolute;
                    top: 50%;
                    right: 0.25em;
                    width: 1.5em;
                    height: 1px;
                    background-color: $text;
                    @include translateY(-50%);
                }
            }

            >.author--item {
                display: inline-block;

                a {
                    font-size: 0.875rem;
                }

                +.author--item {
                    &::before {
                        @include beforeafter('、', inline);
                        font-size: 0.875rem;
                    }
                }
            }

            +li::before {
                @include beforeafter('．', inline);
                font-size: 0.875rem;
            }
        }

        &::after {
            @include beforeafter('．', inline);
            font-size: 0.875rem;
        }
    }

    time {
        @include breakpoint(1024px) {
            position: absolute;
            top: 50%;
            left: 0;
            @include translateY(-50%);
        }
    }
}

.article__function {
    font-size: 0;
}

ul.article__function--share,
ul.article__function--added {
    @include listrest(0, 0, none);
    display: inline-block;

    li {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;

        a {
            display: block;
            width: 36px;
            height: 36px;
            color: $text;
            text-decoration: none;
            text-align: center;
            @include border-radius(50%);

            i {
                display: block;
                line-height: 36px;

                &.icon-bookmark-outlined {
                    font-weight: 600;
                }
            }
        }
    }
}

ul.article__function--share {
    li {
        a {
            background-color: $gray-100;

            &:hover {
                color: $primary;
            }

            i {
                font-size: 0.875rem;
            }
        }

        @include breakpoint(max-width 1023px) {
            &:last-child {
                display: none;
            }
        }
    }
}

ul.article__function--added {
    li {
        &:last-child {
            margin-right: 0;
        }

        a {
            background-color: $white;
            border: 1px solid $gray-100;

            &:hover {
                color: $primary;
                border-color: $primary;
            }

            i {
                font-size: 0.75rem;

                &.icon-download-pdf {
                    font-size: 1.125rem;
                }
            }
        }
    }
}

.article__text {
    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .imgzoom {
        background-color: $white;

        @include breakpoint(1024px) {
            border: 1px solid $gray-100;
        }
    }
}

.infogram-embed__group {
    padding: 20px 20px 0;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: $white;
    border: 1px solid $gray-100;

    @include breakpoint(1024px) {
        padding: 40px 40px 0;
    }
}

.article__keyword {
    @include listrest(20px 0 10px, 0, none);
    font-size: 0;

    @include breakpoint(1024px) {
        margin: 20px 0 0;
    }

    li {
        display: inline-block;
        margin-right: 10px;
        font-size: 1.125rem;

        a {
            display: block;
            padding: 6px 10px;
            color: $text;
            border: 1px solid $gray-200;
            text-decoration: none;

            &:hover {
                color: $primary;
                border-color: $primary;
            }
        }
    }
}

.author__extended {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 1.125em;

    @include breakpoint(1024px) {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    ul {
        @include listrest(0, 0, none);

        @include breakpoint(max-width 1023px) {
            line-height: 1.5;
        }

        li+li {
            @include breakpoint(max-width 1023px) {
                margin-top: 10px;
            }
        }

        a {
            display: block;
        }
    }
}

.author__next {
    padding-bottom: 30px;

    @include breakpoint(1024px) {
        display: flex;
        align-items: center;
        padding-bottom: 60px;
    }

    .author__item {
        display: flex;
        align-items: center;

        @include breakpoint(1024px) {
            width: calc((100% - 30px) / 2);
        }

        +.author__item {
            @include breakpoint(max-width 1023px) {
                margin-top: 20px;
            }

            @include breakpoint(1024px) {
                margin-left: 30px;
            }
        }

        .author__item__img {
            width: 110px;

            img {
                width: 100%;
            }
        }

        .author__item__text {
            width: calc(100% - 110px);
            padding-left: 10px;

            .author__item__subtitle {
                color: $primary;
                font-size: 0.875rem;
                font-weight: normal;
            }

            .author__item__title {
                @include lineclamp(2);
                color: $text;
                line-height: 1.5;
                text-decoration: none;
            }
        }

        &:hover .author__item__title {
            color: $primary;
        }
    }
}

.author__message {
    button.btn--facebook {
        color: $white;
        width: 100%;
        padding: 9px;
        background-color: $facebook;
        border: 1px solid;
        border-color: $facebook;
        @include transition(all 0.3s);

        &:hover {
            background-color: darken($facebook, 5%);
            border-color: darken($facebook, 5%);
        }

        i {
            vertical-align: middle;
        }
    }

    .author__message--hide {
        display: none;
    }
}

.author__morelink {
    font-size: 0;

    .text__list:first-child {
        @include breakpoint(1024px) {
            margin-right: 20px;
        }

        @include breakpoint(max-width 1023px) {
            margin-bottom: 30px;
        }
    }

    .main+.main {
        margin-top: 20px;
    }
}

.webaccessbar {
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 100%;
    padding: 0;
    z-index: 1;

    .bar__titile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: normal;
        background-color: $secondary-variant;

        @include breakpoint(1024px) {
            justify-content: center;
        }

        .text {
            a {
                display: block;
                padding-left: 20px;
                padding-top: 15px;
                padding-bottom: 15px;
                color: $white;
                text-decoration: none;

                @include breakpoint(1024px) {
                    padding-right: 20px;
                }
            }

            u {
                text-underline-position: under;
            }
        }

        button {
            position: relative;
            padding: 22px 23px;
            color: $white;
            border: 0;
            background: transparent;

            i {
                display: block;
                @include transition(transform 0.3s);
            }

            &::before {
                @include beforeafter('', block);
                position: absolute;
                top: 50%;
                left: -1px;
                width: 1px;
                height: 20px;
                background-color: $white;
                @include opacity(0.5);
                @include translateY(-50%);
            }

            &.active i {
                @include rotate(180deg);
            }
        }
    }

    .bar__container {
        display: none;
        padding: 20px 0;
        background-color: $white;
    }
}