.card__group {
    font-size: 0;
    @include breakpoint(max-width 1023px) {
        &--scroll {
            margin-left: -20px;
            margin-right: -20px;
            overflow: scroll;
            .card__group {
                width: 1920px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .card {
        width: 100%;
        margin-bottom: 30px;
        font-size: 0;
        @include breakpoint(1024px) {
            display: inline-block;
            width: calc((100% - 80px) / 5);
            margin-left: 20px;
            margin-bottom: 60px;
            vertical-align: top;
            &:nth-child(5n+1) {
                margin-left: 0;
            }
        }
        .pr {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            padding: 0 5px;
            color: $white;
            font-size: 0.875rem;
            line-height: 30px;
            text-align: center;
            background: rgba($black, 0.5);
            text-transform: uppercase;
        }
        a {
            position: relative;
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
            img {
                width: 100%;
            }
            @include breakpoint(1024px) {
                display: block;
            }
        }
        .card__img {
            width: 105px;
            @include breakpoint(1024px) {
                width: 100%;
            }
        }
        .card__text {
            width: calc(100% - 105px);
            @include breakpoint(max-width 1023px) {
                display: inline-block;
                vertical-align: middle;
                padding-left: 15px;
            }
            @include breakpoint(1024px) {
                width: 100%;
            }
        }
        .card__subtitlte {
            font-size: 0.75rem;
            color: $primary;
            @include breakpoint(1024px) {
                margin-top: 10px;
                font-size: 0.875rem;
            }
        }
        .card__titlte {
            margin-top: 5px;
            color: $text;
            font-size: 1rem;
            @include lineclamp(2);
            @include breakpoint(1024px) {
                -webkit-line-clamp: 3;
            }
        }
        &:hover .card__titlte {
            color: $primary;
        }
        &:hover .card__subtitlte {
            color: $primary-variant;
        }
        @include breakpoint(max-width 1023px) {
            &:nth-child(1),
            &:nth-child(6) {
                .card__img {
                    width: 100%;
                }
                .card__text {
                    margin-top: 10px;
                    padding-left: 0;
                    width: 100%;
                }
            }
        }
    }
}