@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300,400,500|Noto+Serif+TC:400,500,600|Roboto:300,400,500&display=swap');
body {
    position: relative;
    font-family: 'Roboto', 'Noto Sans TC', Arial, "微軟正黑體", "繁黑體", 'Microsoft JhengHei', 'Microsoft YaHei', 'Heiti TC', 'LiHei Pro', sans-serif, "新細明體", PMingLiU;
    font-weight: 300;
    line-height: 1.5;
}

.serif {
    font-family: 'Noto Serif TC', serif;
}

* {
    @include box-sizing(border-box);
    &::before,
    &::after {
        @include box-sizing(border-box);
    }
}

a {
    // text-decoration: none;
    @include transition(color 0.3s,
    background 0.3s,
    border 0.3s);
}

img {
    display: block;
    // width: 100%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.sr-only {
    position: absolute!important;
    padding: 0!important;
    margin: 0!important;
    width: 0!important;
    height: 0!important;
    font-size: 0!important;
}

#fb-root {
    font-size: 0;
}

.text-center {
    text-align: center;
}