.author__morelink {
    font-size: 0;
    .text__list:first-child {
        @include breakpoint(1024px) {
            margin-right: 20px;
        }
        @include breakpoint(max-width 1023px) {
            margin-bottom: 30px;
        }
    }
    .main+.main {
        @include breakpoint(1024px) {
            margin-top: 20px;
        }
    }
}

.text__list {
    font-size: 1rem;
    line-height: 44px;
    @include breakpoint(1024px) {
        display: inline-block;
        width: calc((100% - 20px) / 2);
        vertical-align: top;
    }
    .h2 {
        margin-left: -30px;
    }
    li {
        position: relative;
        border-top: 1px solid transparent;
        +li::before {
            @include beforeafter('', block);
            position: absolute;
            top: 0;
            right: 0;
            width: calc(100% + 30px);
            height: 1px;
            background-color: $gray-100;
        }
        &:last-child {
            border-bottom-width: 0;
        }
    }
    a {
        display: block;
        position: relative;
        padding-left: 5px;
        color: $text;
        text-decoration: none;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover {
            color: $primary;
        }
    }
}

ol.text__list {
    @include listrest(0, 0 0 0 30px, decimal);
}

ul.text__list {
    @include listrest(0, 0 0 0 30px, disc);
}