footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: $gray-100;
    ul {
        @include listrest(0, 0, none);
        li {
            display: inline-block;
            vertical-align: middle;
            a {
                display: block;
                color: $text;
                text-decoration: none;
                &:hover {
                    color: $primary;
                }
            }
        }
        &.sns__group {
            line-height: 1;
            li {
                display: inline-block;
                margin-right: 20px;
                a {
                    font-size: 1.5em;
                    i {
                        display: block;
                    }
                }
                &.facebook a:hover {
                    color: $facebook;
                }
                &.line a:hover {
                    color: $line;
                }
                &.instagram a:hover {
                    color: $instagram;
                }
                &.rss a:hover {
                    color: $rss;
                }
            }
        }
        &.menu--main {
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 0;
            @include breakpoint(1024px) {
                margin-top: 30px;
                margin-bottom: 30px;
            }
            li {
                width: 33.33%;
                @include breakpoint(1024px) {
                    width: 8.33333333%;
                    +li {
                        border-left: 1px solid $gray-200;
                    }
                }
                @include breakpoint(max-width 1023px) {
                    margin-bottom: 20px;
                    border-left: 1px solid $gray-200;
                    &:nth-child(3n+1) {
                        border-left: 0;
                    }
                }
                a {
                    font-size: 0.875rem;
                }
            }
        }
    }
    .contact {
        font-size: 0.75em;
        span {
            display: inline-block;
            &:first-child {
                margin-right: 1em;
            }
            &:last-child {
                display: block;
            }
        }
        a {
            color: $text;
            text-decoration: none;
            &:hover {
                color: $primary;
            }
        }
    }
}