footer {
    background-color: $gray-100;

    @include breakpoint(max-width 1023px) {
        padding-bottom: 60px;
    }

    .container {
        &:last-child {
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @include breakpoint(1024px) {
            &:first-child {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &:last-child {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }

    >.container>.channel__group {
        @include breakpoint(max-width 1023px) {
            &:last-child {
                border-bottom-width: 0;
            }
        }
    }

    .channel__group {
        @include breakpoint(max-width 1023px) {
            border-bottom: 1px solid $gray-200;
        }

        &::after {
            @include clear();
        }

        .channel {
            @include listrest(0, 0, none);
            font-size: 0.875em;

            li {
                @include breakpoint(1024px) {
                    margin-bottom: 5px;
                }

                @include breakpoint(max-width 1023px) {
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }

            a {
                color: $text;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }

            @include breakpoint(max-width 1023px) {
                display: none;
                padding-bottom: 10px;

                +.channel {
                    margin-top: -10px;
                }
            }
        }

        h4 {
            @include breakpoint(max-width 1023px) {
                position: relative;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 0;
                margin-bottom: 0;
                line-height: 1.5;

                &::after {
                    @include beforeafter('\e920', block);
                    position: absolute;
                    top: 50%;
                    right: 0;
                    font-family: "icomoon";
                    @include translateY(-50%);
                    @include transition(transform 0.3s);
                }

                &.active::after {
                    @include transform(translateY(-50%) rotate(180deg));
                }
            }

            @include breakpoint(1024px) {
                margin-top: 0;
                margin-bottom: 10px;
            }
        }

        @include breakpoint(1024px) {
            &:first-child {
                h4 {
                    width: 100%;
                }

                ul {
                    float: left;

                    &:last-child {
                        padding-left: 60px;
                    }
                }
            }

            .channel__group {
                .channel {
                    padding-left: 0 !important;
                }
            }

            .channel__group+.channel__group {
                h4 {
                    margin-top: 30px;
                }
            }
        }
    }

    .sns__group {
        @include listrest(0, 0, none);
        line-height: 1;

        @include breakpoint(max-width 1023px) {
            text-align: center;
        }

        li {
            display: inline-block;
            margin-right: 20px;

            a {
                display: block;
                color: $text;
                font-size: 1.5em;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }

                i {
                    display: block;
                }
            }

            &.facebook a:hover {
                color: $facebook;
            }

            &.line a:hover {
                color: $line;
            }

            &.instagram a:hover {
                color: $instagram;
            }

            &.rss a:hover {
                color: $rss;
            }
        }
    }

    .contact {
        font-size: 0.75em;

        @include breakpoint(max-width 1023px) {
            text-align: center;
        }

        span {
            display: block;

            @include breakpoint(1024px) {
                display: inline-block;
            }

            &:last-child {
                display: block;

                @include breakpoint(max-width 1023px) {
                    margin-top: 30px;
                }
            }
        }

        a {
            color: $text;
            text-decoration: none;

            &:hover {
                color: $primary;
            }
        }
    }
}